<div class="jumbotron-fluid home-main-bg">

    <div class="container">

        <section class="section-main">
        
            <h1> Concretamos <br>Tus ideas</h1>
            <p> Aterrizamos tus proyectos entregando <br>identidad y valor </p>

        </section>

    </div>
    
</div>


<div class="w-100"> </div>


<div class="container">
    
    
    <div class="row">

        <div class="col-md-3"></div>

        <div class="col-md-6">

            <blockquote class="blockquote text-center">
                <p class="mb-0">"Para abrir nuevos caminos, hay que, inventar, experimentar, crecer, correr riesgos, romper las reglas, equivocarse y divertirse."</p>
                <footer class="blockquote-footer">Mary Lou Cook </footer>
            </blockquote>

        </div>

        <div class="col-md-3"></div>

    </div>

    
    <div class="w-100"> </div>

    <div class="row">
        
        <div class="col">

            <h3> CÓMO TE AYUDAMOS?</h3>
            
            <h3>Te guiamos para conseguir los mejores resultados de tu empresa, 
            marca y estrategia</h3> 
            
            <h4>Optimizando tus recursos y potenciando tus habilidades</h4>
        
        </div>        
    
    </div>

    <div class="w-100"> </div>

    <div class="row">

        <div class="col-sm-12 col-md-6">

            <%= image_tag 'skills.png', class: 'img-sections', alt: 'imagen de los trabajos responsive de tbulb' %>

        </div>

        <div class="col-sm-12 col-md-6">

            <ul>
                <li> App Web Responsiva</li>
                <li> Desarrollo de sitio web</li>
                <li> Lineamiento de marca</li>
                <li> Construcción de marca</li>
                <li> Difusión de marca</li>
                <li> Plan de comunicación</li>
                <li> Fidelización</li>
            </ul>
      
        </div>

    </div>

    
    <div class="w-100"> </div>

    <div class="row">
        
        <div class="col">

            <h3> RECUERDA</h3>
            
            <h3>La Supervivencia de tu Pyme</h3> 
            
            <h4>La tecnología es fundamental para las empresas,<br> permiten mejorar el proceso logístico y ahorrar costos</h4>
        
        </div>        
    
    </div>

    
    <div class="w-100"> </div>

    
    <div class="row">
        
        <div class="col-sm-12 col-md-6">
            
            <%= image_tag 'superv-pyme.png', class: 'img-sections', alt: 'datos duros respecto al fortalecimiento de las pymes en chile' %>
            
        </div>


        <div class="col-sm-12 col-md-6">

            <p class="p-sections">Las pequeñas y medianas compañías representan más del 90% del total de <br> negocios y generan entre el 60 y 70% del empleo a nivel mundial.
            </p>

        </div>

    </div>

    
    <div class="w-100"> </div>

    
    <div class="row">
        
        <div class="col">

            <h3> TENDENCIAS</h3>
        
        </div>        
    
    </div>

    
    
    
    
    <div class="row">

        <div class="col-sm-12 col-md-6 w-100-tendencias">

            <%= image_tag 'flexibilidad.png', class: 'img-tendencias', alt: 'flexibilidad para satisfacer la demanda' %>
            
        </div>

       
        <div class="col-sm-12 col-md-6 w-100-tendencias">

            <%= image_tag 'relocalizar.png', class: 'img-tendencias', alt: 'relocalizar la cadena de suministros' %>
            
        </div>
       

    </div>


    <div class="w-100-tendencias"> </div>


    <div class="row">

        <div class="col-sm-12 col-md-6 w-100-tendencias">

            <%= image_tag 'equipo-de-trabajo.png', class: 'img-tendencias', alt: 'aportar experiencia en formación a distancia' %>
            
        </div>

       
        <div class="col-sm-12 col-md-6 w-100-tendencias">

            <%= image_tag 'config-futuro.png', class: 'img-tendencias', alt: 'cambio cultural' %>
            
        </div>
       

    </div>


    <div class="w-100"> </div>
    

    <div class="row">

        <div class="col-md-3"></div>

        <div class="col-md-6">

            <blockquote class="blockquote text-center">
                <p class="mb-0">"No encuentres clientes para tus productos. Encuentra productos
                para tus clientes."</p>
                <footer class="blockquote-footer">Seth Godin </footer>
            </blockquote>

        </div>

        <div class="col-md-3"></div>

    </div>





</div>




