<!DOCTYPE html>
<html>
  <head>
    <title>Tbulb</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Analytics -->
    <%= render 'layouts/google_analytics' %>

    <!-- bootstrap  CSS 4.5.0 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- AOS CSS Animate -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Animate css cdn with wow javascript plug in with animate css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css"/>



    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!-- bootstrap  JS 4.5.0 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <!-- Fontawesome icon .js v5.15.3 -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/v4-shims.js"></script>

    <!-- wow javascript plug in with animate css -->
    <script src='assets/wow.min.js'></script>
    <script> 
        new WOW().init(); 
    </script>
    

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    
    <%= yield %>
    <%= render 'layouts/footer' %>

    <%# AOS Animated scroll CSS Script%>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    

  </body>
</html>
